.asBorder {
    border:10px; 
    border-style:solid; 
    border-color:#CAC7A7; 
    background:#CAC7A7;
    margin-bottom: 15px;
    margin-left: 160px;
    margin-right: 10px;
}

.topMargin {
    margin-top: 15px;
    text-align: center;
}
.bottomMargin {
    margin-bottom: 15px;
    text-align: center;
}
.center {
    text-align:center;
}
.leftMargin {
    margin-left: 160px;
}