.asBorder {
    border:1px; 
    border-style:solid; 
    border-color:#CAC7A7; 
    background:#CAC7A7;
    margin-bottom: 15px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.topMargin {
    margin-top: 15px;
    text-align: center;
}
.bottomMargin {
    margin-bottom: 15px;
    text-align: center;
}
.center {
    text-align:center;
}